.about {
    text-align: center;
    color:rgb(230, 194, 147);
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me {
    display: inline;
    border-bottom: 2px solid rgb(230, 194, 147);;
    padding: 0.4rem;
    margin-bottom: 2rem;
    animation: bounce 1s;
}
.about>div>span {
    display: block;
    line-height: 28px;
}
@media screen and (max-width: 768px) {
    .about>div {
        margin: 0px;
        width: 90%;
        font-size: 19px;
    }
}