.contact-details {
    width: 100%;
    height: 31rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
}
.social-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}
.social-contact>div {
    margin: 11px;
}
.contactme {
    border-bottom: 2px solid white;
    padding: 8px;
    font-size: 23px;
    font-weight: bolder;
    animation: bounce1 1s;
}
.form>input,.buttonSubmit,textarea {
    width: 24rem;
    height: 1.8rem;
    border-radius: 20px;
    margin-top: 16px;
    text-align: end;
    padding: 10px;
    border: 1px solid lightgray;
}
textarea {
    height: 8rem;
    resize: none;
}
.div-button :hover {
    color: white;
    border: 1px solid whitesmoke;
    background-size: 100% 100%
}
.div-button {
    margin-top: 7px;
}
.buttonSubmit {
    width: 17rem;
    height: 2.6rem;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    animation: bounce1 1s;
    color: white;
    background-image: linear-gradient(to right, rgb(230, 194, 147) 0%, rgb(230, 194, 147) 0%);
    background-size: 0% 100%; 
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.whatsApp {
    position: fixed;
    left: 20px; 
    bottom: 20px;
    z-index: 1000;
}

@keyframes bounce1 {
    0% {
        opacity: 0;
    }
    70% {
        transform: translateY(-20px);
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .form>input,.buttonSubmit,textarea {
        width: 13rem;
        height: 0.9rem;
        margin-top: 13px;
        padding: 10px;
    }
    textarea {
        height: 4rem;
        resize: none;
    }
    .buttonSubmit {
        width: 11rem;
        height: 1.8rem;
        text-align: center;
        padding: 0;
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
        animation: bounce1 1s;
    }
    .contactme {
        border-bottom: 2px solid white;
        padding: 8px;
        font-size: 22px;
        font-weight: bolder;
        animation: bounce1 1s;
    }
    .social-contact {
        margin-right: 10px;
    }
    .social-contact>div {
        margin: 9px;
    }
}